.Modal {
  z-index: 50;
  position: fixed;
  inset: 0;
  background-color: rgba($black, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2rem;

  &__Content {
    position: relative;
    width: 32rem;
    background-color: #fff;
    border-radius: $radius-large;
    padding: 2rem 3rem;
    box-shadow: $shadow-small;
  }

  &__CloseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color $transition-fast;

    &:hover {
      background-color: $gray-100;
    }

    &Icon {
      width: 1rem;
      height: 1rem;
      stroke: $gray-500;
    }
  }
}
