.Container {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
}

.Timestamp__Milliseconds {
  color: $primary;
}

.Input,
.Select {
  border: 2px solid $gray-300;
  border-radius: $radius-medium;
  background-color: $white;
  font-family: $font-family;
  font-size: $font-small;
  line-height: 1rem;
  transition: border-color $transition-fast;
  outline: none;

  &:hover {
    border-color: $gray-400;
  }

  &:focus-visible {
    border-color: $gray-400;
    border-width: 2px;
  }
}

.Input {
  height: 2.5rem;
  padding: 0 0.75rem;
}

.Select {
  height: 2rem;
  padding-left: 0.75rem;
  cursor: pointer;
  color: $gray-500;
}
